<module>
	<rawname>callwaiting</rawname>
	<name>Call Waiting</name>
	<version>2.6.0.0</version>
	<changelog>
	*2.6.0.0* #3650, #3651, localizations
	*2.5.0* localization string enclosures
	*2.4.0* bumped for 2.4
	*1.1.2.2* changed categories
	*1.1.2.1* bump for rc1
	*1.1.2* changed ${CALLERID(number)} to ${AMPUSER} to accomodate CID number masquerading
	*1.1.1* Fixed typo Provdes to Provides*
	*1.1* First release for 2.2
	</changelog>
	<type>setup</type>
	<category>Internal Options &amp; Configuration</category>
	<description>Provides an option to turn on/off call waiting</description>
	<location>release/2.6/callwaiting-2.6.0.0.tgz</location>
	<md5sum>581ad64749b5b824348ed6829f18731c</md5sum>
</module>
