<module>
	<rawname>callwaiting</rawname>
	<name>Call Waiting</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Call Management</category>
	<location>release/callwaiting-1.0.tgz</location>
	<info>http://freepbx.org/wiki/CallWaiting</info>
	<md5sum>3792ab4cba7782eaffab53b354f47f04</md5sum>
</module>
